{% extends 'base.html' %}

{% block content %}
    <h1>Books</h1>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url "book:detail" book.id %}">{{ book.title }}</a>:
                <a href="{% url "book:edit" book.id %}">Edit</a> |
                <a href="{% url "book:delete" book.id %}" method="post">Delete</a>
            </li>
        {% empty %}
            No Data.
        {% endfor %}
    </ul>

    <a href="/">Home</a> |
    <a href="{% url "book:new" %}">New</a>
{% endblock %}